# Introduction to Pandas

- Pandas is an open source Python Library / Module providing high performance and data manipulation and Analysis Tool.
- The Traditional Python Programming does not contain any Module for Data Analysis and Now Python Programming uses Pandas as an anaysis tool.

# Installation of Pandas

In [ ]:
pip install pandas

In [33]:
import pandas as pd

In [2]:
print(pd.__version__)

2.0.3

# Data Structures used in Pandas

=>In Pandas programming, we can store the data in 2 types of Data structures. They are.

		a) Series
		b) DataFrame

# Series

In [3]:
lst = [10,20,30,40,50,60]

s = pd.Series(lst)

print(s,type(s))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64 <class 'pandas.core.series.Series'>

In [ ]:
s = pd.Series([10,20,30,40,50,60])

print(s,type(s))

In [ ]:
lst=[10,20,30,40,50,60]

s = pd.Series(lst,dtype=float)

print(s,type(s))

In [ ]:
lst = [10,"Rossum",34.56,"Author"]

#print(lst)
#s = pd.Series(lst,index=[1,2,3,4])

s = pd.Series(lst,index=["Stno","Name","Marks","Desg"])

print(s,type(s))

In [ ]:
d1 = {"sub1":"Python","sub2":"Java","sub3":"Data Science","sub4":"ML"}

#print(d1)
s = pd.Series(d1)
print(s)

In [ ]:
s[2]

# DataFrame

=>A DataFrame is 2-Dimensional Data Structure to organize the data .
=>In Otherwords a DataFrame Organizes the data in the Tabular Format, which is nothing but Collection of Rows and Columns.

# Creating an object DataFrame by Using list / tuple

In [6]:
lst = [[10,20,30,40],[10,20,30,40],[10,20,30,40]]

df = pd.DataFrame(lst)
df.shape

df

    0   1   2   3
0  10  20  30  40
1  10  20  30  40
2  10  20  30  40

In [7]:
lst = [[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]

df = pd.DataFrame(lst)

print(df)

    0    1
0  10   RS
1  20   JG
2  30  MCK
3  40  TRA

In [8]:
lst=[[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]

df=pd.DataFrame(lst,columns=['Rno','Name'],index=[1,2,3,4])

print(df)

   Rno Name
1   10   RS
2   20   JG
3   30  MCK
4   40  TRA

In [9]:
tpl = ( ("Rossum",75), ("Gosling",85), ("Travis",65), ("Ritche",95),("MCKinney",60) )

df = pd.DataFrame(tpl, index=[1,2,3,4,5],columns=['Name','Age'])

print(df)

       Name  Age
1    Rossum   75
2   Gosling   85
3    Travis   65
4    Ritche   95
5  MCKinney   60

# Creating an object DataFrame by Using dict object

In [10]:
dictdata = {"Names":["Rossum","Gosling","Ritche","McKinney"],"Subjects":["Python","Java","C","Pandas"],"Ages":[65,80,85,55]  }
#dictdata.values()
print(dictdata)

{'Names': ['Rossum', 'Gosling', 'Ritche', 'McKinney'], 'Subjects': ['Python', 'Java', 'C', 'Pandas'], 'Ages': [65, 80, 85, 55]}

In [11]:
df = pd.DataFrame(dictdata)

print(df)

      Names Subjects  Ages
0    Rossum   Python    65
1   Gosling     Java    80
2    Ritche        C    85
3  McKinney   Pandas    55

In [12]:
df=pd.DataFrame(dictdata,index=[1,2,3,4])
print(df)

      Names Subjects  Ages
1    Rossum   Python    65
2   Gosling     Java    80
3    Ritche        C    85
4  McKinney   Pandas    55

# Creating an object DataFrame by Using Series object

In [14]:
l1 = [10,20,30,40]

sdata = pd.Series(l1)

print(type(sdata))

print(sdata)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
dtype: int64

In [15]:
df= pd.DataFrame(sdata)

print(df)

    0
0  10
1  20
2  30
3  40

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
sdata = pd.Series([10,20,30,40])

df = pd.DataFrame(sdata)
print(df)

    0
0  10
1  20
2  30
3  40

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
d1 = {"totmark":[100,110,120,130],"ExtMarks":[80,75,65,90]}

df = pd.DataFrame(d1,index=[1,2,3,4])

df

   totmark  ExtMarks
1      100        80
2      110        75
3      120        65
4      130        90

In [20]:
df.columns

Index(['totmark', 'ExtMarks'], dtype='object')

# Adding new Column Name to Data Frame

In [21]:
# Add is a new column name
df['Add'] = df['totmark'] + df['ExtMarks']
df

   totmark  ExtMarks  Add
1      100        80  180
2      110        75  185
3      120        65  185
4      130        90  220

In [22]:
# Roll_No1 is a new column
df['Roll_NO1'] = range(1,5)
df

   totmark  ExtMarks  Add  Roll_NO1
1      100        80  180         1
2      110        75  185         2
3      120        65  185         3
4      130        90  220         4

In [34]:
# changing the column order
df = df[['Roll_NO1','totmark','ExtMarks','Add']]
df

   Roll_NO1  totmark  ExtMarks  Add
1         1      100        80  180
2         2      150        75  185
4         4      130        90  220

In [35]:
import numpy as np
# Adding NULL values to a new column called name
df['name'] = np.nan
df

   Roll_NO1  totmark  ExtMarks  Add  name
1         1      100        80  180   NaN
2         2      150        75  185   NaN
4         4      130        90  220   NaN

In [38]:
# Updating the value using the column name & index no
df['name'][4] = "Abishek"
df

C:\Users\MOHAMMED USMAN\AppData\Local\Temp\ipykernel_13196\3854569461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'][4] = "Abishek"

   Roll_NO1  totmark  ExtMarks  Add     name
1         1      100        80  180      NaN
2         2      150        75  185      NaN
4         4      130        90  220  Abishek

In [26]:
df['sub'] = df['totmark'] - df['ExtMarks']
df

C:\Users\MOHAMMED USMAN\AppData\Local\Temp\ipykernel_13196\402095862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sub'] = df['totmark'] - df['ExtMarks']

   Roll_NO1  totmark  ExtMarks  Add     name  sub
1         1      100        80  180      NaN   20
2         2      110        75  185      NaN   35
3         3      120        65  185  Abishek   55
4         4      130        90  220      NaN   40

In [ ]:
df.columns

# Removing Column Name from Data Frame

In [32]:
# columns

df = df.drop(columns='name')  # column name 
df

KeyError: "['name'] not found in axis"

In [29]:
# remove a row


df = df.drop(3) # index number

KeyError: '[3] not found in axis'

In [30]:
df

   Roll_NO1  totmark  ExtMarks  Add  sub
1         1      100        80  180   20
2         2      110        75  185   35
4         4      130        90  220   40

In [31]:
# change the value of specific row of any column


df['totmark'][2] = 150

df

   Roll_NO1  totmark  ExtMarks  Add  sub
1         1      100        80  180   20
2         2      150        75  185   35
4         4      130        90  220   40

In [ ]:
df = df.drop(2)
df

In [ ]:
# delete mutiple Columns

df = df.drop(columns=['Add','sub'])
df

In [ ]:
df = df.drop(columns='ExtMarks')

In [ ]:
df

# sorting the dataframe data

In [ ]:
df = df.sort_values(["totmark"] )
df

In [ ]:
df = df.sort_values(["totmark"] ,ascending=False) # descending order = ascending = False
df

In [ ]:
df.to_csv('marks1')

In [ ]:
df.to_excel(r'C:\Users\Lenovo\Desktop\ttt.xlsx')

In [ ]:
df.to_excel(r'C:\Users\Lenovo\Desktop\fwegfjwe.xlsx')

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Lenovo\Desktop\IPL_Matches_2008-2020.csv')
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [ ]:
# merage
df = pd.merge(df,var[['id','umpire1','umpire2']], on='id')
df

In [ ]:
var = df[['id','umpire1','umpire2']]
var

In [ ]:
#city = df['city'] & ['id']
city = df[['city']]
city

In [ ]:
city1 = city.T # Transpose

city1

In [ ]:
city2 = city1.T

city2

In [ ]:
df['player_of_match']

In [ ]:
df.head()

In [ ]:
df.head(1)

In [ ]:
df.tail()

In [ ]:
df.tail(6)

In [ ]:
# rows, columns

df.shape

In [ ]:
# all columns names

df.columns

In [ ]:
# to check datatype of each column

df.dtypes

In [ ]:
#astype - it is used to change from one datatype to another

df['id'] = df['id'].astype(int)  # astype()

df.dtypes

In [ ]:
# information of all the columns, like column name, dtype,rows

df.info()

In [ ]:
df.describe()

In [ ]:
df = df.drop(columns=['umpire1', 'umpire2'])
df

In [ ]:
df[df['eliminator'].isnull()]

In [ ]:
df[df['city'].isnull()]

In [ ]:
df.isnull().sum()

In [ ]:
df['eliminator'].isnull().sum()

In [ ]:
# to find null values

df.isnull().sum()

In [ ]:
df['city'] = df['city'].fillna('Dubai')

In [ ]:
df['player_of_match']

In [ ]:
# count of each venues

df['venue'].value_counts()

In [ ]:
# replace

df['venue'] = df['venue'].replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')

In [ ]:
df['venue'].unique()

In [ ]:
df[df['venue'] == 'Dubai International Cricket Stadium']

In [ ]:
df['city'][407] = 'Bangalore'

In [ ]:
df.head(2)

In [ ]:
import warnings

warnings.filterwarnings('ignore')

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna(subset=['player_of_match'])

df

In [ ]:
df.isnull().sum()

In [ ]:
df['method'].unique()

In [ ]:
df['result_margin'].unique()

In [ ]:
df["city"].value_counts()

In [ ]:
df['city'] = df['city'].replace('Bengaluru', 'Bangalore')

In [ ]:
df["city"].value_counts()

In [4]:
#rename any column name

df = df.rename(columns={'city':'City'})
df

,id,City,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [ ]:
#sum

df['result_margin'].sum()

In [ ]:
# average


df['result_margin'].mean()

In [8]:
df.groupby('team1')['player_of_match'].value_counts()

team1                player_of_match
Chennai Super Kings  SK Raina           8
                     MS Dhoni           7
                     MEK Hussey         6
                     RA Jadeja          6
                     SR Watson          4
                                       ..
Sunrisers Hyderabad  SK Raina           1
                     Shubman Gill       1
                     UT Yadav           1
                     V Kohli            1
                     Yuvraj Singh       1
Name: player_of_match, Length: 536, dtype: int64